.container {
  max-width: 605px;
  max-height: 956px;
  display: block;
  margin: 0 auto;
  padding: 2px 60px;
  background: #fff7ef;
  border-radius: 30px;
}
h2 {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 5px;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #573a18;
  margin: -10px 5px 5px 5px;
}
h3 {
  text-align: center;
  border: 1px solid #775125;
  margin: 15px;
  margin-bottom: 18px;
  padding: 10px;
  border-radius: 4px;
}
#opening-photo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 12px;
}
p {
  line-height: 1.5;
  font-size: 13px;
  margin: 15px 0 15px;
}
ul {
  padding: 0 auto;
  margin: 0;
}
li {
  display: inline;
  list-style-type: none;
}
.ferret-1 {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}
.ferret-1:hover {
  opacity: 0.9;
  cursor: pointer;
}
.ferret-2 {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}
.ferret-2:hover {
  opacity: 0.85;
  cursor: pointer;
}
.ferret-3 {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}
.ferret-3:hover {
  opacity: 0.75;
  cursor: pointer;
}
.ferret-4 {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}
.ferret-4:hover {
  opacity: 0.85;
  cursor: pointer;
}
.ferret-5 {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}
.ferret-5:hover {
  opacity: 0.85;
  cursor: pointer;
}
.wiki-ferret {
  text-align: center;
  font-size: 14px;
  margin: 4px;
  margin-bottom: 12px;
}
button {
  display: block;
  margin: 25px auto;
  background: #573a18;
  color: white;
  font-size: 18px;
  padding: 15px 25px;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 3px 7px rgb(0 0 0 / 30%);
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 0.85;
  cursor: pointer;
}
.my-instagram {
  text-align: center;
  margin: 6px;
}
.creator {
  font-size: 11px;
  text-align: center;
  margin: 6px;
}
